<h1 align="center"> Ilia State University </h1>
<h3 align="center"> Introduction to Machine Learning - Final </h3>

---
__Professor Incharge:__ Camille Van Hoffelen <br>
__Submission By:__ Muhammad Bilal <br>
__Due Date:__ 10<sup>th</sup> of July, 2020 at 1200 hrs


My choice of dataset is `Predicting a person's medical insurance costs using tabular data` from the dataset which is linked [here](https://introduction-to-machine-learning-ilia-university.s3.eu-west-2.amazonaws.com/final_project/medical_insurance.csv).

### Importing the initial essential libraries and taking a look into our dataset.

Importing `Pandas` and `NumPy`:

In [1]:
import pandas as pd
import numpy as np

Loading in our dataset as `df`:

In [2]:
df = pd.read_csv('dataset/medical_insurance.csv')

Taking an initial look at our dataset:

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Now looking into the dataset to check for any `missing` values:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

As seen above, the dataset seemingly does not have any missing data which is a good start. Health Insurance costs are driven up on factors which affect health. Our dataset includes two such columns:

1. `smoker` which tells us if the current person is a smoker or not. __Smokers__ are more at risk of being ill and hence it is expected that they will have higher insurance costs as compared to __Non Smokers__.


2. `bmi` which refers to __BODY MASS INDEX__ is the ratio of _'body fat'_ to _'height'_ of a person. A BMI helps us to classify people as:
  - __Under-Weight__
  - __Healthy__
  - __Over-Weight__
    
    The most considerably harmful is being Over-Weight as Under-Weight BMIs are still considered healthy in the medical system in most cases. In our case here, for ease and convenience, I have chosen to deal with __Obesity or Over-Weight__ classification as another cost adding factor to an individual's health insurance costs.

To make it easier and simpler to use the data inside the `smoker` column, I am adding another column which represents its '__yes__' and '__no__' values as '__1s__' and '__0s__'. I find it easier to work with a seemingly numerical boolean.

While changes could be made to the existing dataset in the existing column, it isn't a good idea to replace original data values.

In [5]:
def ifsmoker(column):
    values = []
    
    for row in column:
        if row == "yes":
            values.append(1)
            
        else:
            values.append(0)
            
    return values

## The function below shall check the given "column" for its values. The if statement shall iterate from the start
## until the end and cross reference it with the conditions of our if statement.In case where it is a "yes",
## the array 'values' gets appended with "1". In other cases,the value is kept as "0".

In [6]:
df["smoker_status"] = ifsmoker(df["smoker"])

##The function is called above and used to add its values into a new column named 'smoker_status'.

In [7]:
df.head()

   age     sex     bmi  children smoker     region      charges  smoker_status
0   19  female  27.900         0    yes  southwest  16884.92400              1
1   18    male  33.770         1     no  southeast   1725.55230              0
2   28    male  33.000         3     no  southeast   4449.46200              0
3   33    male  22.705         0     no  northwest  21984.47061              0
4   32    male  28.880         0     no  northwest   3866.85520              0

As seen above, now I have a better workability on their smoker status as it is clearly denoted in "1s" and "0s". 

Now it is time to factor in another feature which is based on the `bmi`. As the BMIs are given as ratios and not classed already, we need to reference them to a standard scale and then all values above healthy BMI shall be classified as obese.

According to our reliable source in such basic facts `Wikipedia` (link to page [here](https://en.wikipedia.org/wiki/Body_mass_index)) :

"Commonly accepted BMI ranges are underweight (under 18.5 kg/m2), normal weight (18.5 to 25), overweight (25 to 30), and obese (over 30)."

We can make a function that cross-refernces values inside the `bmi` column of our dataset and tell us if they are obese or not considering that now we know obese is any value above `30`.